html,body {
  margin: 0;
  height:100%;
  width:100%;
  font-family: "Roboto",sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root{
  width:100%;
  display: flex;
  min-height:100%;
}
